*
{
    padding: 0px;
    margin: 0px;
}

body
{
    overflow-x: hidden;
}

/* =======================  nav Bar  ======================= */

nav
{
    position: absolute;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 600px;
    padding: 20px;
    height: 27px;
    overflow: hidden;
}

nav>ul
{
    list-style: none;
    display: flex;
    align-items: center;
}

nav>ul>li
{
    padding: 20px;
    color: rgb(179, 179, 179);
    transition: all 0.5s;
}

nav>ul>li>a
{
    position: relative;
    text-decoration: none;
    color: inherit;
}

nav>ul>li:hover
{
    color: black;
}

.on
{
color: black;
}

.on::before
{
    content: "";
    position: absolute;
    top: -25px;
    left: -16px;
    width: 70px;
    height: 3px;
    background-color: rgb(148, 112, 35);
    border-radius: 5px;
}



/* =======================  welcome  ======================= */

.welcome_background
{
    background-image: url("../images/drew-coffman-1872.jpg");
    background-position: center; 
    height: 900px;
}

.welcome
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
    text-align: center;
    color: white;
}

.welcome>p
{
    font-size: x-large;
}

.welcome>h1
{
    font-size: 70px;
}

.welcome>div>button
{
    border-radius: 5px;
    padding: 18px;
    padding-left: 23px;
    padding-right: 30px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.5s;
}

.welcome>div>.Learn
{
    border: solid 2px rgb(153, 130, 100);
    background-color: rgb(153, 130, 100);
}

.welcome>div>.Contact
{
    border: solid 2px white;
    background-color: rgba(255, 255, 255, 0);
}

.welcome>div>button:hover
{
    color: black;
    background-color: white;
    border: solid 2px white;
}

.element
{
    height: 50px; 
    width: 30px; 
    border-radius: 20px;
    border: solid white 1px; 
    display: flex; 
    justify-content: center; 
    align-items: end;  
    margin-top: 120px;
}

.element>div
{
    width: 10px; 
    height: 10px; 
    border-radius: 5px; 
    background-color: white; 
    margin-bottom: 10px;
    animation-name: element;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes element 
{
    0%
    {
        opacity: 0;
        transform: translateY(0px);
    }

    50%
    {
        opacity: 1;
    }

    100%
    {
        opacity: 0;
        transform: translateY(-20px);
    }
}


/* =======================  who_we_are  ======================= */

.who_we_are
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    gap: 80px;
}

.who_we_are>hgroup
{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.who_we_are>hgroup>h2
{
    font-size: 30px;
    color: rgb(65, 65, 65);
}

.who_we_are>hgroup>p
{
    font-size: 17px;
    color: gray;
}

.who_we_are>hgroup>p>i
{
    color: rgb(117, 97, 70);
    border: solid gray 1px;
    padding: 10px;
    border-radius: 25px;
    margin-right: 10px;
    font-size: 20px;
}


/* =======================  Our Location  ======================= */


.our_location
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    gap: 80px;
    background-color: rgba(219, 219, 219, 0.397);
}

.our_location>article
{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.our_location>article>h2
{
    font-size: 30px;
    color: rgb(65, 65, 65);
}

.our_location>article>p
{
    font-size: 17px;
    color: gray;
}



/* =======================  Our Baking  ======================= */

.Our_Baking
{
    display: flex;
    flex-direction: column;
    height: 800px;
    justify-content: space-evenly;
    align-items: center;
}

.Our_Baking>h2
{
    font-size: 30px;
    color: rgb(65, 65, 65);
}

.Our_Baking>p
{
    font-size: 17px;
    color: gray;
}

.Our_Baking>.cards
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

.Our_Baking>.cards>div
{
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.Our_Baking>.cards>div:hover>img
{
    transform: scale(1.1);
}

.cards>div>img
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: all 0.5s;
}

.cards>div>p
{
    line-height: 1.8;
    color: gray;
}



/* =======================  Contact Information  ======================= */

.Contact_Information
{
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 900px;
    gap: 80px;
    background-color: rgba(219, 219, 219, 0.397);
    overflow: hidden;
}

.Contact_Information>div
{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.Contact_Information>div>h2
{
    font-size: 30px;
    color: rgb(65, 65, 65);
}

.Contact_Information>div>p
{
    font-size: 16px;
    line-height: 1.8;
    color: gray;
}

.Contact_Information>div>ul
{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Contact_Information>div>ul>li
{
    color: gray;
}

.Contact_Information>div>ul>li>i
{
    padding: 10px;
    padding-block: 12px;
    background-color: rgb(150, 124, 90);
    font-size: 15px;
    border-radius: 20px;
    color: white;
    margin-right: 10px;
}

.Contact_Information>iframe
{
    width: 570px;
    height: 550px;
    border-radius: 20px;
    border: solid 1px black;
}



/* =======================  footer ====> lists ======================= */

.lists
{
    background-color: rgb(75, 70, 65);
    color: white;
    display: flex;
    justify-content: center;
    height: 400px;
    gap: 20px;
    padding-block: 70px;
    width: 100%;
}

.lists>section
{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    line-height: 1.8
}

.lists>section>p
{
    color: rgb(172, 172, 172);
}

.lists>section>ul
{
    list-style: none;
    color: rgb(172, 172, 172);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lists>section>ul>li
{
    border-bottom: solid rgba(172, 172, 172, 0.199) 0.2px;
    padding-bottom: 10px;
}



/* =======================  footer ====> end ======================= */

.last
{
    background-color: rgb(54, 52, 50);
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 300px;
    gap: 30px;
}

.last>div
{
    display: flex;
    align-items: center;
    gap: 15px;
}

.last>div>i
{
    background-color: rgb(78, 75, 73);
    padding: 10px;
    padding-block: 12px;
    border-radius: 20px;
    color: gray;
    transition: all 0.5s;
}

.fa-facebook-f:hover
{
    background-color: rgb(0, 102, 255);
    color: white;
}

.fa-at:hover
{
    background-color: rgb(255, 0, 0);
    color: white;
}

.fa-linkedin-in:hover
{
    background-color: rgb(0, 183, 255);
    color: white;
}

.fa-github:hover
{
    background-color: rgb(20, 20, 20);
    color: white;
}